.slick-dots {
    bottom: -40px;
  }
  
  .slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 20px;
  }
  
  .slick-dots li button {
    width: 16px;
    height: 16px;
    padding: 0;
  }
  
  .slick-dots li button:before {
    font-size: 0;
    width: 16px;
    height: 16px;
    content: '';
    border-radius: 50%;
    border: 1px solid #a2a89f;
    opacity: 1;
  }
  
  .slick-dots li.slick-active button:before {
    background-color: #088080;
  }
  
  @media (max-width: 768px) {
    .slick-dots {
      bottom: 15px;
    }
  }
  
  